article.post {
}

span.post__publication-date {
  margin-bottom: 1rem;
  display: block;
  color: rgb(100 116 139);
}

h1.post__title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(99 102 241);
}

article.post section.post__content h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: rgb(99 102 241);
}

article.post section.post__content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(99 102 241);
}

article.post section.post__content p {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 2;
}

article.post section.post__content blockquote {
  margin-bottom: 1.5rem;
  border-left-width: 4px;
  border-color: rgb(79 70 229);
  background-color: rgb(30 41 59);
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-style: italic;
  line-height: 2;
}

article.post section.post__content ul {
  padding-left: 1rem;
  line-height: 2;
}

article.post section.post__content ul:not(ul ul) {
  margin-bottom: 1.5rem;
}

article.post section.post__content ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

article.post section.post__content a {
  color: rgb(99 102 241);
  text-decoration-line: underline;
}

article.post section.post__content a:hover {
  color: rgb(55 48 163);
}

article.post section.post__content .toc-container {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgb(79 70 229);
  background-color: rgb(30 41 59);
}

article.post section.post__content .toc-container {
  padding: 1rem;
}

article.post section.post__content .toc-container li {
  list-style-type: none;
}

article.post section.post__license {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;

  & img {
    margin-left: auto;
    margin-right: auto;
  }

  & img {
    display: block;
  }

  & img {
    border-width: 0px;
  }

  & p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & p {
    text-align: center;
  }

  & p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  & p {
    line-height: 1.25;
  }

  & p {

    & a {
      color: rgb(99 102 241);
    }

    & a {
      text-decoration-line: underline;
    }

    & a:hover {
      color: rgb(55 48 163);
    }
  }
}

footer.post__footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgb(79 70 229);
  background-color: rgb(30 41 59);
  padding: 0.5rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;

  & a {
    color: rgb(99 102 241);
  }

  & a {
    text-decoration-line: underline;
  }

  & a:hover {
    color: rgb(55 48 163);
  }
}
