<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ 'main.css' | bust_css_cache | relative_url  }}">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="https://kit.fontawesome.com/e7fe5d6a77.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation__section_right">
        {% unless page.url == '/about' %}
          <a href="{{ '/about' | relative_url  }}" class="navigation__page-link">About</a>
        {% endunless %}
        <a href="{{ '/feed.xml' | relative_url }}" class="navigation__rss-link" title="RSS Feed">
          <i class="fa-solid fa-rss"></i>
        </a>
      </div>
      {% if page.url != '/' %}
        <a href="/" class="navigation__back-link">
          <i class="fa-solid fa-chevron-left"></i>
          <span>Back</span>
        </a>
      {% endif %}
    </nav>
    <span class="blog-title"><a href="/">{{ site.title }}</a></span>
    <div class="blog-content-wrapper">
      {{ content }}
    </div>
  </body>
</html>
