<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ 'main.css' | bust_css_cache | relative_url  }}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <script src="https://kit.fontawesome.com/e7fe5d6a77.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>
    {% webmentions_head %}
  </head>
  <body class="bg-white dark:bg-slate-800 text-zinc-900 dark:text-zinc-100 max-w-3xl mx-auto px-1">
    <h1 class="text-6xl font-bold text-center my-6"><a href="/">{{ site.title }}</a></h1>
    <div class="text-left px-2 mx-auto mb-6">
      <p class="text-indigo-600 dark:text-indigo-500 text-4xl font-semibold mb-2">Dick Davis</p>
      <p class="text-lg">Passionate about building products that meaningfully benefit humanity.</p>
      {% unless page.url == '/about' %}
        <p class="text-lg mb-4"><a href="{% link about.html %}" class="text-indigo-600 dark:text-indigo-500 underline hover:text-indigo-800">Read more</a><p>
      {% endunless %}
      <div class="my-4">
        <p class="text-xl font-semibold mb-4">Connect with me</p>
        <ul class="text-lg flex flex-col md:flex-row md:flex-wrap md:gap-4">
          <li class="mb-2 flex items-center">
            <div class="w-10 text-center">
              <i class="fa-brands fa-github"></i>
            </div>
            <a rel="me"
               href="https://github.com/dickdavis"
               target="_blank"
               class="text-indigo-600 dark:text-indigo-500 underline hover:text-indigo-800">
              Github
            </a>
          </li>
          <li class="mb-2 flex items-center">
            <div class="w-10 text-center">
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <a href="https://linkedin.com/in/rvdavis"
               target="_blank"
               class="text-indigo-600 dark:text-indigo-500 underline hover:text-indigo-800">
              LinkedIn
            </a>
          </li>
          <li class="mb-2 flex items-center">
            <div class="w-10 text-center">
              <i class="fa-brands fa-mastodon"></i>
            </div>
            <a rel="me"
               href="https://ruby.social/@dickdavis"
               target="_blank"
               class="text-indigo-600 dark:text-indigo-500 underline hover:text-indigo-800">
              Mastodon
            </a>
          </li>
          <li class="mb-2 flex items-center">
            <div class="w-10 text-center">
              <i class="fa-solid fa-link-simple"></i>
            </div>
            <a href="https://lobste.rs/~dickdavis"
               target="_blank"
               class="text-indigo-600 dark:text-indigo-500 underline hover:text-indigo-800">
              Lobste.rs
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="block my-8 mx-auto border-indigo-600 dark:text-indigo-500 border-2">
    {% if page.url != '/' %}
      <nav class="text-left text-lg mb-4 px-2">
        <a href="/" class="text-indigo-600 dark:text-indigo-500 hover:text-indigo-800 flex items-center gap-2">
          <i class="fa-solid fa-chevron-left text-sm"></i>
          <span>Back</span>
        </a>
      </nav>
    {% endif %}
    <div class="block p-2">
      <h2 class="text-4xl font-bold mb-4">{{ page.title }}</h2>
      {{ content }}
    </div>
  </body>
</html>
