name: CI / CD

# Controls when the action will run.
on:
  # Triggers the workflow on push for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

env:
  AWS_DEFAULT_REGION: 'us-east-2'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Set up node
      run: yarn install
    - name: "Build Site"
      run: bundle exec jekyll build
      env:
        NODE_ENV: production
        JEKYLL_ENV: production
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v1.7.0
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        role-session-name: BuildAndDeployDickCodes
        aws-region: ${{ env.AWS_DEFAULT_REGION }}
    - name: "Deploy to AWS S3"
      run: aws s3 sync ./_site/ ${{ secrets.AWS_S3_BUCKET_NAME }} --delete
    - name: "Create AWS Cloudfront Invalidation"
      run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
